In [6]:
with open("lecture2_data/coordinates.txt", "r") as file:
    lines = file.readlines()
    for line in lines:
        line = line.strip()
        if not line:
            continue
        lat_str, lon_str = line.split(",")
        lat = float(lat_str); lon = float(lon_str)
        print(f"Latitude {lat}, Longitude {lon}")

Latitude 33.4484, Longitude -112.074
Latitude 34.0522, Longitude -118.2437
Latitude 40.7128, Longitude -74.006

In [9]:
import csv

infile = open("lecture2_data/coordinates.txt", "r")
outfile = open("lecture2_data/points.csv", "w", newline="")
csv_writer = csv.writer(outfile)
csv_writer.writerow(["Latitude", "Longitude"])
for line in infile:
    line = line.strip()
    if line:
        lat, lon = line.split(",")
        csv_writer.writerow([lat, lon])
infile.close()
outfile.close()

In [10]:
try:
    f = open("lecture2_data/data.txt", "r")
    content = f.read()
    print("File has", len(content), "characters")
    f.close()
except FileNotFoundError as e:
    print("Error:", e)
    print("Please check that the file exists and that the path is correct.")

Error: [Errno 2] No such file or directory: 'lecture2_data/data.txt'
Please check that the file exists and that the path is correct.

In [18]:
import pandas as pd
from pathlib import Path

data_path = Path("lecture2_data")

population_file = data_path / "country_population.csv"

population_df = pd.read_csv(population_file)
population_largest = population_df.nlargest(5, 'Population')
population_largest

         Country  Population
0          India  1429000000
1          China  1412000000
2  United States   339000000
3      Indonesia   277000000
4       Pakistan   241000000

In [19]:
area_file = data_path / "country_area.csv"

area_df = pd.read_csv(area_file)
area_largest = area_df.nlargest(5, 'Area')
area_largest

         Country      Area
8         Russia  17098246
2  United States   9833520
1          China   9596961
6         Brazil   8515767
0          India   3287263

In [20]:
merged_df = pd.merge(population_df, area_df, on='Country')
merged_df['Population_Density'] = merged_df['Population'] / merged_df['Area']
merged_df

          Country  Population      Area  Population_Density
0           India  1429000000   3287263          434.708145
1           China  1412000000   9596961          147.129909
2   United States   339000000   9833520           34.473922
3       Indonesia   277000000   1904569          145.439729
4        Pakistan   241000000    881913          273.269586
5         Nigeria   223000000    923768          241.402603
6          Brazil   216000000   8515767           25.364715
7      Bangladesh   173000000    148460         1165.297050
8          Russia   146000000  17098246            8.538888
9          Mexico   129000000   1964375           65.669742
10          Japan   124000000    377975          328.064025
11    Philippines   117000000    300000          390.000000
12        Vietnam   100000000    331212          301.921428
13       Ethiopia   127000000   1104300          115.004981
14          Egypt   112000000   1002450          111.726271
15        Germany    84000000    357022          235.279619
16    South Korea    51700000    100210          515.916575
17    Netherlands    17800000     41543          428.471704
18      Singapore     5920000       734         8065.395095

In [21]:
density_largest = merged_df.nlargest(5, 'Population_Density')
density_largest

        Country  Population     Area  Population_Density
18    Singapore     5920000      734         8065.395095
7    Bangladesh   173000000   148460         1165.297050
16  South Korea    51700000   100210          515.916575
0         India  1429000000  3287263          434.708145
17  Netherlands    17800000    41543          428.471704